a {
	text-decoration:none;	
}
/*
body{
	background-image: url("images/background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-color: black;
}

.background_image{
	position:absolute;
	z-index:1;
}
*/

.header {
	margin: 20px;
	text-align:center;	
	font-family: "Times New Roman", sans-serif, Monaco;
	text-indent: 8px;
	font-size: 55px;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
}

#titles {
	max-width: 75%;
	display: block;
	margin-left: auto;
	margin-right:auto;
}
	
.links {
	padding-right: 1em;
	display: block;
	text-align: center;
}

.links i {
	color: black;
	padding-right: .5em;
	text-align:center;
}

.links i:hover{
	color: grey;
}

.announcements, .interests{
	font-family: monospace;
	text-align:center;	
	font-size: x-large;
}

#container {
	vertical-align: middle;
}

