a {
	text-decoration:none;	
	color: black;
}

.header {
	margin: 20px;
	text-align:center;	
	font-family: monospace, "Times New Roman", sans-serif, Monaco;
	text-indent: 8px;
	font-size: 55px;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
}

#titles {
	max-width: 75%;
	display: block;
	margin-left: auto;
	margin-right:auto;
}
	
.links {
	text-align: center;
	font-family: monospace;
}

.list-group-item {
	display:inline-block;
	margin: 10px;
	padding: 5px;
		box-sizing: border-box;
	/* border: 1px solid #DDD; */
}

.links i {
	color: black;
}

.links i:hover{
	color: grey;
}

.announcements, .interests, .projects{
	font-family: monospace;
	text-align:center;	
	font-size: x-large;
}

#container {
	vertical-align: middle;
}


